:root {
    --accent-color: #2970CC;
}
body {
    background: #121E2C;
    color: white;
}
h1 {color: white;}
h2 {color: white;}
h3 {color: white;}
a{color: var(--accent-color)}
::selection{background: var(--accent-color);color: white;}
::-webkit-scrollbar{width: 7px;height: 4px;}
::-webkit-scrollbar-thumb{background:#333333;}
div#main-header {
    background: transparent;
    border: none;
}
footer i {
  color: white;
}
a#edit-this-page {
  width: max-content;
}

/* Tables */

th {
  background: #2970cc;
  border: none;
  margin: 0px;
  padding: 4px 14px;
}
thead th {
  border-bottom: none;
}
td {
  background: #162d4b;
  border: none;
}

/* */

@media only screen and (max-width:799px){
  .search-input-wrap {box-shadow: none;}
  footer#in_footer {
    position: absolute;
    transform: translate(0px, 40px);
  }
  .search {background: #0b1726;}
}

footer p {
  cursor: default;
}
footer p {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  width: 100px;
}
footer i {
  margin-left: 5px;
}
.side-bar {
    background: #0B1726;
    border: none;
}
a.site-title.lh-tight {
    color: white;
    font-size: 16px !important;
}
.site-header {
    border: none;
}
hr {
  display: none;
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: none;
    color: white;
}

a.nav-list-link {
    color: white;
}
a.nav-list-expander {
    color: white !important;
}
input#search-input {
    background: transparent;
    color: white;
}
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    color: white;
}
figure.highlight {
    background: #0B1726;
}
code.language-ruby {
    background: transparent;
}
pre {
    background: #0B1726;
}

code.language-plaintext.highlighter-rouge {
    padding: 2px 5px 0px 5px;
    background: #0B1726;
    border: none;
}

.nav-list .nav-list-item .nav-list-expander:hover {
    background-image: transparent !important;
    background-color: transparent !important;
    background: transparent !important;
}
.site-title:hover {
    background-image: transparent !important;
    background-color: transparent !important;
    background: transparent !important;
}

div#search-results {
    background: #0B1726;
    margin-left: 30px;
    border-radius: 7px;
    box-shadow: none !important;
    border: none;
}
.search-result-previews {
    border-left-color: #232323;
}

h2 {
    color: white;
}

a.nav-list-link.active {
  background: var(--accent-color);
  border-radius: 4px;
  margin-right: 10px;
}

button.btn.toggle-ld-mode {
  background: var(--accent-color);
  color: white;
}

.language-plaintext.highlighter-rouge {
    background: transparent;
    padding: 0px;
    margin: 0px;
}

.search-result:hover, .search-result.active, .site-button:hover {
  background-color: #0d1c2f !important;
}
.site-button:hover {
  background-image: inherit;
}

code {
    background: transparent;
}

blockquote {
  border-left: 2px white solid;
  margin: 0px;
  padding-left: 20px;
}



.install-plugin {
  background: #0b1726;
  border-radius: 7px;
  padding: 10px 20px;
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
}
.install-plugin img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.install-plugin p {
  margin: 7px 0px 0px 20px;
}
.install-plugin a {
  position: absolute;
  right: 43px;
  margin-top: 5px;
}

a#gfui {
  display: block;
  background: none;
  margin-bottom: 7px;
}

ui#in_footer a#gfui:not([class]) {
  background: none;
}


footer p {
    display: block;
    width: inherit;
}








/* Containers that can open and close, why not? lmao */
button#open_ColorMC {
  width: 100%;
  background: #0b1726;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 7px 0px 7px 20px;
  text-align: left;
  font-size: 14px;
  transition: 0.4s filter;
}

button#open_ColorMC:hover {
  filter: brightness(1.5);
  transition: 0.4s filter;
  cursor: pointer;
}

button#close_ColorMC {
  width: 100%;
  background: #0b1726;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 7px 0px 7px 20px;
  text-align: left;
  font-size: 14px;
  transition: 0.4s filter;
  display: none;
}

button#close_ColorMC:hover {
  filter: brightness(1.5);
  transition: 0.4s filter;
  cursor: pointer;
}

i.fas.fa-angle-up {
  position: absolute;
  right: 50px;
}
i.fas.fa-angle-down {
  position: absolute;
  right: 50px;
}

div#cc_ColorMC {
  display: none;
}

.video_g {
  background: #0b1726;
  border-radius: 10px;
  margin-bottom: 20px;
}

.video_g h1 {
  font-size: 16px !important;
  margin-left: 10px;
  padding: 10px 10px 14px 10px;
}
.video_g button {
  font-size: 12px;
  position: absolute;
  margin-left: 220px;
  margin-top: 16px;
  background: #ff4545;
  color: white;
}
.video_g video {
  margin-bottom: -7px;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  height: 100%;
  margin-top: -19px;
}

.video_g_content {
  display: flex;
}

.vt_grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px 20px;
}




/* Color Codes */
.color-block {
  border-radius: 4px;
  padding: 0px 0px 0px 20px;
  margin-right: 11px;
}

span#black_color {
  background: black;
  color: transparent;
}
span#dark_blue_color {
background: #0002A6;
color: transparent;
}
span#dark_green_color {
background: #10AA26;
color: transparent;
}
span#dark_aqua_color {
background: #0EAAA9;
color: transparent;
}
span#dark_red_color {
background: #A9060B;
color: transparent;
}
span#dark_purple_color {
background: #A908A6;
color: transparent;
}
span#gold_color {
background: #FEAA2F;
color: transparent;
}
span#gray_color {
background: #AAAAAA;
color: transparent;
}
span#dark_gray_color {
background: #555555;
color: transparent;
}
span#blue_color {
background: #5456F9;
color: transparent;
}
span#green_color {
background: #5AFE67;
color: transparent;
}
span#aqua_color {
background: #5AFE67;
color: transparent;
}
span#red_color {
background: #FE5758;
color: transparent;
}
span#light_purple_color {
background: #FE57FA;
color: transparent;
}
span#yellow_color {
background: #FFFF69;
color: transparent;
}
span#white_color {
background: white;
color: transparent;
}