button#color-scheme-dark {display: none;}

body {background: white !important;}
.side-bar {background: #f5f6fa !important;}

h1 {color: black !important;}
h2 {color: black !important;}
h3 {color: black !important;}
h4 {color: black !important;}
h5 {color: black !important;}

body {
    opacity: 0.5;
}