<script src="https://kit.fontawesome.com/db4a23598f.js"></script>
<p>
<a style="background: transparent; cursor: pointer;" href="https://discord.gg/Falix" target="_blank"><i class="fab fa-discord"></i></a>
<a style="background: transparent; cursor: pointer;" href="https://twitter.com/Falix" target="_blank"><i class="fab fa-twitter"></i></a>
<a style="background: transparent; cursor: pointer;" href="https://instagram.com/Falix" target="_blank"><i class="fab fa-instagram"></i></a>
<a style="background: transparent; cursor: pointer;" href="https://facebook.com/Falix" target="_blank"><i class="fab fa-facebook"></i></a>
</p>