<script src="https://kit.fontawesome.com/db4a23598f.js"></script>
<script src="https://help.falixnodes.net/assets/js/collapse.js"></script>
<p>
<a style="background: transparent; cursor: pointer;" href="https://discord.gg/FalixNodes" target="_blank"><i class="fab fa-discord"></i></a>
<a style="background: transparent; cursor: pointer;" href="https://twitter.com/FalixNodes" target="_blank"><i class="fab fa-twitter"></i></a>
<a style="background: transparent; cursor: pointer;" href="https://instagram.com/FalixNodes" target="_blank"><i class="fab fa-instagram"></i></a>
<a style="background: transparent; cursor: pointer;" href="https://facebook.com/FalixNodes" target="_blank"><i class="fab fa-facebook"></i></a>
<a style="background: transparent; cursor: pointer;" href="https://youtube.com/c/FalixNodes" target="_blank"><i class="fab fa-youtube"></i></a>
</p>
