@media only screen and (max-width: 1000px) {
    .content, .contentQ, .filterDiv, .filterDiv h1, .her_t3, .con_her_t3, header, .wrn-content, .warning {
        width: calc(100% - 30px);
    }
    .card_grid {
        grid-template-columns: 300px 300px;
    }
}
@media only screen and (max-width: 850px) {
    .article {
        flex-flow: column;
    }
    .sidebar {
        width: 100%;
    }
    .author, .meta, .options, .youtube {
        width: initial;
    }
}
@media only screen and (max-width: 700px) {
    .card_grid, .wrn-conte, .warningnt {
        grid-template-columns: 100%;
        width: calc(100% - -10px);
    }
    input#myInput {
        width: calc(100% - 30px);
    }
}
@media only screen and (max-width: 400px) {
    .icQ {display: none;}
}